---
### group_vars/DC1_ENDPOINTS.yml

connected_endpoints_keys: # dynamic_key: connected_endpoints
  - key: servers
    type: server
  - key: firewalls
    type: firewall
  - key: routers
    type: router

port_profiles:
  - profile: PP-DEFAULTS
    spanning_tree_portfast: edge

  - profile: PP-HQ-F1-USER
    mode: access
    vlans: "10"           # HQ-F1-CORP-USERS
    parent_profile: PP-DEFAULTS

  - profile: PP-HQ-F1-VOICE
    mode: access
    vlans: "11"           # HQ-F1-VOICE
    parent_profile: PP-DEFAULTS

  - profile: PP-HQ-F2-USER
    mode: access
    vlans: "20"           # HQ-F2-CORP-USERS
    parent_profile: PP-DEFAULTS

  - profile: PP-CAMPUS-GUEST
    mode: access
    vlans: "99"           # CAMPUS-GUEST
    parent_profile: PP-DEFAULTS

  - profile: PP-FIREWALL
    mode: trunk
    vlans: "10,11,12,20,21,22,99"

  - profile: PP-DOT1X
    mode: "trunk phone"
    spanning_tree_portfast: edge
    spanning_tree_bpduguard: enabled
    poe:
      priority: critical
      reboot:
        action: maintain
      link_down:
        action: maintain
      shutdown:
        action: power-off
      limit:
        class: 4
    dot1x:
      port_control: auto
      reauthentication: true
      pae:
        mode: authenticator
      host_mode:
        mode: multi-host
        multi_host_authenticated: true
      mac_based_authentication:
        enabled: true
      timeout:
        reauth_period: server
        tx_period: 3
      reauthorization_request_limit: 3

servers:
  - name: HostA
    rack: POD1
    adapters:
      - endpoint_ports: [Eth1]
        switch_ports: [Ethernet3]
        switches: [LEAF1]
        profile: PP-DEFAULTS
  - name: HostB
    rack: POD1
    adapters:
      - endpoint_ports: [Eth1]
        switch_ports: [Ethernet3]
        switches: [LEAF2]
        profile: PP-HQ-F1-USER
  - name: HostC
    rack: POD2
    adapters:
      - endpoint_ports: [Eth1]
        switch_ports: [Ethernet3]
        switches: [LEAF3]
        profile: PP-HQ-F2-USER
  - name: Host2
    rack: POD2
    adapters:
      - endpoint_ports: [Eth1]
        switch_ports: [Ethernet3]
        switches: [LEAF4]
        profile: PP-DOT1X

firewalls:

  - name: FIREWALL
    adapters:
      - endpoint_ports: [Eth1, Eth2]
        switch_ports: [Ethernet5, Ethernet5]
        switches: [SPINE1, SPINE2]
        profile: PP-FIREWALL
        port_channel:
          mode: active
